
.label {
  width: 60%;
  padding: 0 0.4rem;
  font-size: 0.8rem;
  font-weight: bold;
}

.input {
  border: none;
  border-bottom: 1px solid gray;
  width: 60%;
  height: 1.7rem;
  padding: 0 0.4rem;
  outline: none;
}